@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Michroma&display=swap');


.GeneralFont {
/*  font-family: 'Roboto', sans-serif;*/
font-family: 'Assistant', sans-serif;
font-weight: 500;
}

.whiteBackground {
  background-color:white;
}

.App {
  border:#ab34bf;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height:40px;
  background-image: linear-gradient(to right, #ab34bf, #2426d4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.title-word {
  color:white;
  font-family: 'Michroma', sans-serif;
  font-size:x-large;
  text-align:center;
  justify-content:center;
}
.second-word {
  font-weight: bold;
}

.title-word-class {
  margin: 0px 0px 0px !important;
}
.col10-class{
  padding: 0px 0px 0px !important;
}

.seleccionarVotante{
  color:#4a2ace;
  font-weight:bold;
}

.placaNominados{
  color:#a934c0;
  font-weight:bold;
}

.fueraDePlaca{
  color:#1680CE;
  font-weight:bold;
}

.detalleDeVotos {
  background-image: linear-gradient(to left, #ab34bf, #2426d4);
  font-family: 'Michroma', sans-serif;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  /*font-weight:bold;*/
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.precaucion{
  color:red;
  text-align:center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.custom-class-1erlugar{
  background-color: #2426d4 !important;
  color: white !important;
  border-color: grey !important; 
}

.custom-class-2dolugar{
  background-color: #ab34bf !important;
  color: white !important;
  border-color: grey !important;
}

.custom-class-fulminante{
  background-color: #682DCA !important;
  color: white !important;
  border-color: grey !important;
}

.custom-class-deshacer{
  background-color: #56EAFA !important;
  color: #2426d4 !important;
  border-color: #ab34bf !important;
}

.custom-class-screenshotPlaca{
  background-image: linear-gradient(to right, #ab34bf, #2426d4) !important;
  color: white !important;
  border-color: grey !important;
}

.custom-class-screenshotVotos{
  background-image: linear-gradient(to left, #ab34bf, #2426d4) !important;
  color: white !important;
  border-color: grey !important;
}


.rounded-borders {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 1px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.tituloEspontanea {
  font-weight:bold;
  color:white;
  background:#2426d4;
  border-radius:10px;
}

.tituloFulminante {
  font-weight:bold;
  color:white;
  background:#ab34bf;
  border-radius:10px;
}

.columnaJugadoresNegrita {
  font-weight:bold;
}

.tituloTablaDetalleVotosJugador {
  font-weight:bold;
  
}

.tituloTablaDetalleVotos1erLugar {
  font-weight:bold;
  color: #2426d4;
}

.tituloTablaDetalleVotos2doLugar {
  font-weight:bold;
  color: #ab34bf;
}

.highlight-bg {
  background-color: #aa34bf4d;  
}
