@import url('https://fonts.googleapis.com/css2?family=Assistant&family=BIZ+UDGothic&family=Michroma&display=swap');

@font-face {
  font-family: 'TacticSans';
  src: url('./TacticSansExtExd-Blk.otf') format('truetype');
}

.GeneralFont {
font-family: 'Assistant', sans-serif;
font-weight: 500;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  /**/
  min-height:40px;
  margin-bottom: 10px;
  background-image: linear-gradient(to right,
  #c138db 65%,
  #202af3 100%);
  z-index:2 !important;
}

.header--sticky {
  transform: translateY(0);
  background-color: lightgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.homeIcon {
  color: #c138db;
  animation: colorTransition 5s infinite;
  filter:drop-shadow(0 0 4px white);
}

@keyframes colorTransition {
  0% {
    color: #c138db;
  }
  50% {
    color: #202af3;
  }
  100% {
    color: #c138db;
  }
}

.content {
  padding-top: 60px !important;
  font-family: 'Assistant', sans-serif !important;
  font-weight: 500 !important;
}


.contentHome {
  padding-top: 60px;
  font-family: 'Assistant', sans-serif !important;
  font-weight: 500 !important;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding-bottom: 20px;
}

.contentHome::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url('./pictures/FondoPlaca.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.8;
  z-index: -1;
}

.contentChart {
  padding-top: 60px;
  font-family: 'Assistant', sans-serif !important;
  font-weight: 500 !important;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding-bottom: 20px;
}

.contentChart::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url('./pictures/FondoPlaca.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
  z-index: -1;
}

.title-word {
  color:white;
  font-family: 'Michroma', sans-serif;
  font-size:x-large;
  text-align:center;
  justify-content:center;
}
.second-word {
  font-weight: bold;
}

.title-word-class {
  margin: 0px 0px 0px !important;
}
.col10-class{
  padding: 0px 0px 0px !important;
}

@media (max-width: 410px) {
  .title-word {
    font-size: 20px !important;
    /*margin-left: 15px;*/
  }  
  .tituloEspontanea {
    height:25px;
    padding:0px !important;
    text-align:center;
  }
  .tituloFulminante {
    height:25px;
    padding:0px !important;
    text-align:center;
  }
  .tituloTablaDetalleVotosJugador {
    font-size: 14px !important;
  }
  .tituloTablaDetalleVotos1erLugar {
    font-size: 14px !important;
  }
  .tituloTablaDetalleVotos2doLugar {
    font-size: 14px !important;
  }
}

@media (max-width: 320px) {
  .title-word {
    font-size: 16px !important;
  }
}

.seleccionarVotante{
  color:#4a2ace;
  font-weight:bold;
}

hr {
  border: 0;
  height: 10px;
  background-color: black;
}

.placaNominados{
  /*background-color:#a934c0;*/
  font-family: 'TacticSans', sans-serif;
  color: white;
  text-align:center;
  text-shadow: 0px -2.5px 2px #e700ee;
}

.fueraDePlaca{
  color:black;
  /*background-color:#1680CE;*/
  background-color:rgba(36,38,212,0.3);
  text-align:center;
  font-weight:bold;
}

.lineaDivisoria {
  height: 4px;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 20px;
  background-image: linear-gradient(to right, 
  rgba(0, 255, 255, 0.5),
  rgba(0, 255, 255, 0.7),
  rgba(0, 255, 255, 0.9),
  rgba(0, 255, 255, 1),
  rgba(0, 255, 255, 0.7),
  rgba(0, 255, 255, 0.5));
  background-size: 400% 100%;
  animation: neon 2s ease-in-out infinite;
  box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff, 0 0 150px #00ffff;
}

@keyframes neon {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.lineaDivisoriaFondo {
  height: 4px;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 20px;
  background-image: linear-gradient(to left, 
  rgba(0, 255, 255, 0.5),
  rgba(0, 255, 255, 0.7),
  rgba(0, 255, 255, 0.9),
  rgba(0, 255, 255, 1),
  rgba(0, 255, 255, 0.7),
  rgba(0, 255, 255, 0.5));
  background-size: 400% 100%;
  animation: neonFondo 2s ease-in-out infinite;
  box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff, 0 0 150px #00ffff;
}

@keyframes neonFondo {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/*
.containerVotaciones{
}
*/

.detalleDeVotos {
  background-image: linear-gradient(to left, #ab34bf, #2426d4);
  font-family: 'Michroma', sans-serif;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  /*font-weight:bold;*/
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.custom-class-1erlugar{
  background-color: #2426d4 !important;
  color: white !important;
  border-color: grey !important; 
}

.custom-class-2dolugar{
  background-color: #ab34bf !important;
  color: white !important;
  border-color: grey !important;
}

.custom-class-fulminante{
  background-color: #682DCA !important;
  color: white !important;
  border-color: grey !important;
}

.containerPlaca {
  justify-content: center;
  align-items: center;
}

.rounded-borders {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 1px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.tituloEspontanea {
  font-weight:bold;
  color:white;
  background:#2426d4;
  border-radius:10px;
}

.tituloFulminante {
  font-weight:bold;
  color:white;
  background:#ab34bf;
  border-radius:10px;
}

.tituloTablasNomAnteriores {
  width:fit-content;
  font-weight:bold;
  color:white;
  text-align:center;
  border: 1px solid white;
  border-radius:10px;
  /*background-color:rgba(171,52,191,0.5);*/
  margin: 0 auto;
  padding: 6px;
}

.encabezadoVotaciones {
  
  padding: 5px;
  
}

.columnaJugadoresNegrita {
  font-weight:bold;
  text-shadow: 0px 0px 6px white;
}

.columnaJugadoresNegrita.espfulmFont {
  color:white !important;
  text-shadow:none !important;
}

.tituloTablaDetalleVotosJugador {
  font-weight:bold;
  color: white;
}

.tituloTablaDetalleVotos1erLugar {
  font-weight:bold;
  /*color: #2426d4;*/
  color: white;
}

.tituloTablaDetalleVotos2doLugar {
  font-weight:bold;
  /*color: #ab34bf;*/
  color: white;
}

.highlight-bg {
  background-color: #aa34bf4d;  
}

.precaucion{
  color: white;
  text-align:center;
  font-weight:bold;
  text-shadow: 2px 2px 2px black;
  background-color: rgba(86,234,250,0.5);
  border-radius: 40px;
  padding:10px;
}

.custom-class-reiniciar{
  background-color: #e700ee !important;
  color: whitesmoke !important;
  border-color: #019BFF !important
}

.fixed-width-reiniciar {
  width:45px;
}

.buttonSort {
  margin-bottom:10px;
  background-color:#c138db !important;
  box-shadow: 0px 0px 5px white;
}

.container-neon-reiniciar {
  color: white;
  text-align:center;
  font-weight:bold;
  text-shadow: 2px 2px 2px black;
  background-color: rgba(86,234,250,0.35);
  border-radius: 40px;
  padding:10px;
  width:70%;
  animation: neon-reiniciar 2s ease-in-out infinite;
}


.neon-light-reiniciar {
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  }
  
  .neon-light-reiniciar:before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 2px solid #000;
  border-radius: 50%;
  transform-origin: center;
  animation: neon-reiniciar 1s ease-in-out infinite;
  }
  
  @keyframes neon-reiniciar {
  0% {
  box-shadow: 0 0 0 2px #e700ee;
  }
  50% {
  box-shadow: 0 0 20px 2px #e700ee;
  }
  100% {
  box-shadow: 0 0 0 2px #e700ee;
  }
  }

  .comboBox {
    background-color: rgba(255,255,255,0.4) !important;
    }

    .comboBox.disabled {
      display: none !important;
      }

      .comboBox.fulminanteColor {
        background-color: rgba(171,52,191,0.7) !important;
        color:white !important
      }

    .comboBox.espontanea {
      background-color: rgba(36,38,212,0.7) !important;
      color:white !important
    }

    @media (max-width: 410px) {
      .comboBox {
        font-size:12px !important;
        padding-left: 2px !important;        
      }
    }

    .comboBoxNominAnteriores {
      background-color: rgba(255,255,255,0.4) !important;
      }
    
      .selectNominAnteriores {
        background-color:whitesmoke !important;
        box-shadow: 0px 0px 8px 4px #1afcfa;
      }



    .lineaDivisoria2 {
      height: 3px;
      width: 50%;
      margin-bottom: 10px;
      border-radius: 0px;
      background-color:#e9fbe9;
      box-shadow: 0px 0px 8px 6px #1afcfa;
    }




    .container-neon-votaciones {
      animation: neon-votaciones 2s ease-in-out infinite;
    }
    @keyframes neon-votaciones {
      50% {
      box-shadow: 0px 0px 8px 6px #1afcfa;
      }
      }

      .center {
        text-align:center;
      }


      .custom-class-home {
        background-color: #e700ee !important;
        color: whitesmoke !important;
        border-color: #019BFF !important;
      }
      
      

      .navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin: 20px;
      }
      
      .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #202af3;
      }
  
    @media (min-width: 600px) {
      .icon {
        flex-basis: 25%; /* Set the width to 25% to display 4 icons per row */
      }
    }

      .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        /*background-color: rgba(255,255,255,0.9);*/
        background-image: radial-gradient(
        rgba(255,255,255,1) 50%,
        rgba(193,56,219,1) 65%,
        rgba(32,42,243,1) 70%);
        
        box-shadow: 0px 0px 20px #00ffff;
      }
      
      .icon-wrapper .icon > svg {
        width: 32px;
        height: 32px;
      }

      .label {
        color: white;
        text-shadow: 2px 2px 2px black;
        margin-top: 0px;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal; /* Set the white-space property to normal */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70px; /* Set a fixed height for the label container */
      }
           
      
      tbody .espontanea-row {
        background-color: rgba(36,38,212,0.7);
      }
      .espontanea-row td {
        color: white !important;
      }
      tbody .fulminante-row {
        background-color: rgba(171,52,191,0.7);
      }
      .fulminante-row td {
        color: white !important;
      }
      .anulado-row td:not(:first-child) {
        text-decoration:line-through;
      }
      tbody .espontanea-anulado-row {
        background-color: rgba(36,38,212,0.7);
      }
      
      .espontanea-anulado-row td:not(:first-child) {
        color: white !important;
        text-decoration:line-through;
      }
      tbody .fulminante-anulado-row {
        background-color: rgba(171,52,191,0.7);
      }
      .espontanea-anulado-row td:first-child {
        color: white !important;
      }
      .fulminante-anulado-row td:not(:first-child) {
        color: white !important;
        text-decoration:line-through;
      }
      .anulado1-row td:nth-child(2) {
        text-decoration: line-through;
      }      
      tbody .espontanea-anulado1-row {
        background-color: rgba(36,38,212,0.7);
      }      
      .espontanea-anulado1-row td:first-child {
        color: white !important;
      }
      .espontanea-anulado1-row td:nth-child(2) {
        color: white !important;
        text-decoration: line-through;
      }
      .espontanea-anulado1-row td:nth-child(3) {
        color: white !important;
      }

      tbody .espontanea-anulado2-row {
        background-color: rgba(36,38,212,0.7);
      }      
      .espontanea-anulado2-row td:first-child {
        color: white !important;
      }
      .espontanea-anulado2-row td:nth-child(2) {
        color: white !important;
      }
      .espontanea-anulado2-row td:nth-child(3) {
        color: white !important;
      }

      tbody .fulminante-anulado1-row {
        background-color: rgba(171,52,191,0.7);
      }
      .fulminante-anulado1-row td:nth-child(2) {
        color: white !important;
        text-decoration: line-through;
      }
      .anulado2-row td:nth-child(3) {
        text-decoration: line-through;
      }
      tbody .espontanea-anulado2-row {
        background-color: rgba(36,38,212,0.7);
      }
      .espontanea-anulado2-row td:nth-child(3) {
        color: white !important;
        text-decoration: line-through;
      }
      tbody .fulminante-anulado2-row {
        background-color: rgba(171,52,191,0.7);
      }
      .fulminante-anulado2-row td:nth-child(3) {
        color: white !important;
        text-decoration: line-through;
      }

      .grafico{
        background-image: radial-gradient(
        rgba(255,255,255,0.6) 30%,
        rgba(255,255,255,0.5) 40%,
        rgba(255,255,255,0.4) 50%,
        rgba(255,255,255,0.3) 60%,
        rgba(255,255,255,0.2) 70%,
        rgba(255,255,255,0.1) 80%,
        rgba(255,255,255,0) 90%);
        border-radius: 0px;
      }