:root {
  --color-texto: #d3ddd9;
  --color-primario: #145b9e;
  --color-primario-claro: #1e7cd4;
  --color-primario-oscuro: #0a335a;
  --color-secundario: #602697;
  --color-secundario-claro: #8436ce;
  --color-secundario-oscuro: #39155a;
  --color-terciario: #c138db;
  --color-terciario-claro: #d868ee;
  --color-terciario-oscuro: #7b238d;
  --fuente-titulos: 'TacticSans';
  --fuente-contenido: 'Assistant';
  --fuente-header: 'Michroma';
}

@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Michroma&display=swap');

@font-face {
  font-family: 'TacticSans';
  src: url('./fonts/TacticSansExtExd-Blk.otf') format('opentype');
}

/* Oswald-Regular: FUENTE PARA SUMA DE VOTOS EN FOTO DE PARTICIPANTE, EN ContadorNominaciones.js */
@font-face {
  font-family: 'Oswald-Regular';
  src: url('fonts/Oswald-Regular.ttf') format('truetype');
}

.GeneralFont {
font-family: var(--fuente-contenido);
font-weight: 500;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  /**/
  min-height:40px;
  margin-bottom: 10px;
  
  /* background-image: linear-gradient(to top right,
  #ab34bf 0%,
  #1f185b 30%,
  rgba(31, 24, 91, 0.5) 85%); */

  background-image: linear-gradient(to top right,
  #602697 0%,
  #040e3e 50%,
  #145b9e 100%);
 
  /* background-image: linear-gradient(to right,
  #c138db 65%,
  #202af3 100%); */
  z-index:2 !important;
}

.header-sidebarOpen{
  background-image: linear-gradient(to top right,
  rgba(96, 38, 151, 0.2) 0%,
  rgba(4, 14, 62, 0.2) 50%,
  rgba(20, 91, 158, 0.2) 100%);
}

.header--sticky {
  transform: translateY(0);
  /* background-color: lightgray; */
  background-image: linear-gradient(to top right,
  #602697 0%,
  #040e3e 50%,
  #145b9e 100%);
  /* rgba(31, 24, 91, 1) 85%); */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-padding {
  padding: 0px 12px;
}

.homeIcon {
  color: #c138db;
  animation: colorTransition 5s infinite;
  filter:drop-shadow(0 0 4px white);
}

@keyframes colorTransition {
  0% {
    color: #c138db;
  }
  50% {
    color: #202af3;
  }
  100% {
    color: #c138db;
  }
}

.content {
  padding-top: 75px !important;
}


.contentHome {
  padding-top: 75px;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding-bottom: 20px;
}

.contentHome::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url('./pictures/FondoPlaca.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.8;
  z-index: -1;
}

.contentChart {
  padding-top: 75px;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding-bottom: 20px;
}

.contentChart::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url('./pictures/FondoPlaca.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
  z-index: -1;
}

.title-word {
  color:white;
  font-family: var(--fuente-header);
  font-size:x-large;
  text-align:center;
  justify-content:center;
}

.title-word-nav {
  color:white;
  font-family: var(--fuente-header);
  font-size: 1.1rem;
  text-align: center;
  justify-content: center;
}

.second-word-nav {
  font-weight: bold;
}

.second-word {
  font-weight: bold;
}

.title-word-class {
  margin: 0px 0px 0px !important;
}
.col10-class{
  padding: 0px 0px 0px !important;
}

@media (max-width: 410px) {
  .title-word {
    font-size: 20px !important;
    /*margin-left: 15px;*/
  }  
  .tituloEspontanea {
    height:25px;
    padding:0px !important;
    text-align:center;
  }
  .tituloFulminante {
    height:25px;
    padding:0px !important;
    text-align:center;
  }
  .tituloTablaDetalleVotosJugador {
    font-size: 14px !important;
  }
  .tituloTablaDetalleVotos1erLugar {
    font-size: 14px !important;
  }
  .tituloTablaDetalleVotos2doLugar {
    font-size: 14px !important;
  }
}

@media (max-width: 320px) {
  .title-word {
    font-size: 16px !important;
  }
}

.seleccionarVotante{
  color:#4a2ace;
  font-weight:bold;
}

hr {
  border: 0;
  height: 10px;
  background-color: black;
}

.tituloParticipantes {
  font-family: var(--fuente-titulos);
  color: white;
  text-align:center;
  text-shadow: 0px -2.5px 2px #e700ee;
  margin: 0px !important;
  padding: 10px !important;
  box-shadow: 0px 0px 8px 6px #1afcfa;
  background-color: #3374db;
}

.placaNominados{
  font-family: var(--fuente-titulos);
  color: white;
  text-align:center;
  text-shadow: 0px -2.5px 2px #e700ee;
}

.fueraDePlaca{
  color:black;
  /*background-color:#1680CE;*/
  background-color:rgba(36,38,212,0.3);
  text-align:center;
  font-weight:bold;
}

.lineaDivisoria {
  height: 4px;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 20px;
  background-image: linear-gradient(to right, 
  rgba(0, 255, 255, 0.5),
  rgba(0, 255, 255, 0.7),
  rgba(0, 255, 255, 0.9),
  rgba(0, 255, 255, 1),
  rgba(0, 255, 255, 0.7),
  rgba(0, 255, 255, 0.5));
  background-size: 400% 100%;
  animation: neon 2s ease-in-out infinite;
  box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff, 0 0 150px #00ffff;
}

@keyframes neon {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.lineaDivisoriaFondo {
  height: 4px;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 20px;
  background-image: linear-gradient(to left, 
  rgba(0, 255, 255, 0.5),
  rgba(0, 255, 255, 0.7),
  rgba(0, 255, 255, 0.9),
  rgba(0, 255, 255, 1),
  rgba(0, 255, 255, 0.7),
  rgba(0, 255, 255, 0.5));
  background-size: 400% 100%;
  animation: neonFondo 2s ease-in-out infinite;
  box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff, 0 0 150px #00ffff;
}

@keyframes neonFondo {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.containerPlaca {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.containerVotaciones {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.custom-class-1erlugar{
  background-color: #2426d4 !important;
  color: white !important;
  border-color: grey !important; 
}

.custom-class-2dolugar{
  background-color: #ab34bf !important;
  color: white !important;
  border-color: grey !important;
}

.custom-class-fulminante{
  background-color: #682DCA !important;
  color: white !important;
  border-color: grey !important;
}

.containerPlaca {
  justify-content: center;
  align-items: center;
}

.rounded-borders {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 1px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.tituloEspontanea {
  font-weight:bold;
  color:white;
  background:#2426d4;
  border-radius:10px;
}

.tituloFulminante {
  font-weight:bold;
  color:white;
  background:#ab34bf;
  border-radius:10px;
}

.tituloTablasNomAnteriores {
  width:fit-content;
  font-weight:bold;
  color:white;
  text-align:center;
  border: 1px solid white;
  border-radius:10px;
  /*background-color:rgba(171,52,191,0.5);*/
  margin: 0 auto;
  padding: 6px;
  max-width: 75%;
}

.encabezadoVotaciones {
    padding: 5px;
}

.columnaJugadoresNegrita {
  font-weight:bold;
  text-shadow: 0px 0px 6px white;
  padding-right: 0px !important;
}

.columnaJugadoresNegrita.espfulmFont {
  color:white !important;
  text-shadow:none !important;
}

.columnaJugadoresNegrita.telefono {
  color:white !important;
  text-shadow:none !important;
  font-style: italic;
}

.votoValeDoble {
  color: var(--color-terciario) !important;
}

.tituloTablaDetalleVotosJugador {
  font-weight:bold;
  color: white !important;

}

.tituloTablaDetalleVotos1erLugar {
  font-weight:bold;
  /*color: #2426d4;*/
  color: white;
}

.tituloTablaDetalleVotos2doLugar {
  font-weight:bold;
  /*color: #ab34bf;*/
  color: white;
}

.highlight-bg {
  background-color: #aa34bf4d;  
}

.precaucion{
  color: white;
  text-align:center;
  font-weight:bold;
  text-shadow: 2px 2px 2px black;
  background-color: rgba(86,234,250,0.5);
  border-radius: 40px;
  padding:10px;
}

.custom-class-reiniciar{
  background-color: #e700ee !important;
  color: whitesmoke !important;
  border-color: #019BFF !important
}

.custom-class-exportar{
  background-color: #019BFF !important;
  color: whitesmoke !important;
  border-color: #e700ee !important
}

.fixed-width-reiniciar {
  width:45px;
}

.buttonSort {
  margin-bottom:10px;
  background-color:#c138db !important;
  box-shadow: 0px 0px 5px white;
}

.container-neon-reiniciar {
  color: white;
  text-align:center;
  font-weight:bold;
  text-shadow: 2px 2px 2px black;
  background-color: rgba(86,234,250,0.35);
  border-radius: 40px;
  padding:10px;
  width:70%;
  animation: neon-reiniciar 2s ease-in-out infinite;
}


.neon-light-reiniciar {
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  }
  
  .neon-light-reiniciar:before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 2px solid #000;
  border-radius: 50%;
  transform-origin: center;
  animation: neon-reiniciar 1s ease-in-out infinite;
  }
  
  @keyframes neon-reiniciar {
  0% {
  box-shadow: 0 0 0 2px #e700ee;
  }
  50% {
  box-shadow: 0 0 20px 2px #e700ee;
  }
  100% {
  box-shadow: 0 0 0 2px #e700ee;
  }
  }

  .comboBox {
    background-color: rgba(255,255,255,0.4) !important;
    }

    .comboBox.disabled {
      display: none !important;
      }

      .comboBox.fulminanteColor {
        background-color: rgba(171,52,191,0.7) !important;
        color:white !important
      }

    .comboBox.espontanea {
      background-color: rgba(36,38,212,0.7) !important;
      color:white !important
    }

    .votoFinalFirstPlace {
      color: white !important;
      background-color: #343A40 !important;
    }

    .votoFinal {
      
    }

    .votoFinalDisabler {
      display: none !important;
      }

    @media (max-width: 374px) {
      .comboBox {
        font-size:12px !important;
        padding-left: 2px !important;        
      }
      .votoFinalSecondPlaceRow {
        /* font-size:13px !important; */
      }
    }

    .comboBoxNominAnteriores {
      background-color: rgba(255,255,255,0.4) !important;
      }
    
      .selectNominAnteriores {
        background-color:whitesmoke !important;
        box-shadow: 0px 0px 8px 4px #1afcfa;
      }



    .lineaDivisoria2 {
      height: 3px;
      width: 50%;
      margin-bottom: 10px;
      border-radius: 0px;
      background-color:#e9fbe9;
      box-shadow: 0px 0px 8px 6px #1afcfa;
    }




    .container-neon-votaciones {
      animation: neon-votaciones 2s ease-in-out infinite;
    }
    @keyframes neon-votaciones {
      50% {
      box-shadow: 0px 0px 8px 6px #1afcfa;
      }
      }

      .center {
        text-align:center;
        vertical-align: middle !important;
      }


      .custom-class-home {
        background-color: #e700ee !important;
        color: whitesmoke !important;
        border-color: #019BFF !important;
      }
      
      

      .navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin: 20px;
      }
      
      .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #202af3;
      }
  
    @media (min-width: 600px) {
      .icon {
        flex-basis: 25%; /* Set the width to 25% to display 4 icons per row */
      }
    }

      .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        /*background-color: rgba(255,255,255,0.9);*/
        background-image: radial-gradient(
        rgba(255,255,255,1) 50%,
        rgba(193,56,219,1) 65%,
        rgba(32,42,243,1) 70%);
        
        box-shadow: 0px 0px 20px #00ffff;
      }
      
      .icon-wrapper .icon > svg {
        width: 32px;
        height: 32px;
      }

      .label {
        color: white;
        text-shadow: 2px 2px 2px black;
        margin-top: 0px;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal; /* Set the white-space property to normal */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70px; /* Set a fixed height for the label container */
      }
           
      
      tbody .espontanea-row {
        /* background-color: rgba(36,38,212,0.7) !important; */
      }
      .espontanea-row td {
        background-color: rgba(36,38,212,0.7) !important;
        color: white !important;
      }
      tbody .fulminante-row {
        /* background-color: rgba(171,52,191,0.7); */
      }
      .fulminante-row td {
        background-color: rgba(171,52,191,0.7) !important;
        color: white !important;
      }
      .anulado-row td:not(:first-child) {
        text-decoration:line-through;
      }
      tbody .espontanea-anulado-row {
        /* background-color: rgba(36,38,212,0.7); */
      }
      
      .espontanea-anulado-row td:not(:first-child) {
        /* background-color: rgba(36,38,212,0.7) !important; */
        color: white !important;
        text-decoration:line-through;
      }
      tbody .fulminante-anulado-row {
        background-color: rgba(171,52,191,0.7);
      }
      
      .espontanea-anulado-row td {
        background-color: rgba(36,38,212,0.7) !important;
        color: white !important;
      }
      
      .espontanea-anulado-row td:first-child {
        /* background-color: rgba(36,38,212,0.7) !important; */
        color: white !important;
      }
      .fulminante-anulado-row td:not(:first-child) {
        color: white !important;
        text-decoration:line-through;
      }
      .anulado1-row td:nth-child(2) {
        text-decoration: line-through;
      }      
      tbody .espontanea-anulado1-row {
        /* background-color: rgba(36,38,212,0.7); */
      } 
      .espontanea-anulado1-row td {
        background-color: rgba(36,38,212,0.7) !important;
        color: white !important;
      }
      
      /* .espontanea-anulado1-row td:first-child {
        color: white !important;
      } */
      .espontanea-anulado1-row td:nth-child(2) {
        /* color: white !important; */
        text-decoration: line-through;
      }
      /* .espontanea-anulado1-row td:nth-child(3) {
        color: white !important;
      } */

      tbody .espontanea-anulado2-row {
        background-color: rgba(36,38,212,0.7);
      }      
      .espontanea-anulado2-row td:first-child {
        color: white !important;
      }
      .espontanea-anulado2-row td:nth-child(2) {
        color: white !important;
      }
      .espontanea-anulado2-row td:nth-child(3) {
        color: white !important;
      }

      tbody .fulminante-anulado1-row {
        background-color: rgba(171,52,191,0.7);
      }
      .fulminante-anulado1-row td:nth-child(2) {
        color: white !important;
        text-decoration: line-through;
      }
      .anulado2-row td:nth-child(3) {
        text-decoration: line-through;
      }
      tbody .espontanea-anulado2-row {
        background-color: rgba(36,38,212,0.7);
      }
      .espontanea-anulado2-row td:nth-child(3) {
        color: white !important;
        text-decoration: line-through;
      }
      tbody .fulminante-anulado2-row {
        background-color: rgba(171,52,191,0.7);
      }
      .fulminante-anulado2-row td:nth-child(3) {
        color: white !important;
        text-decoration: line-through;
      }

      .grafico{
        background-image: radial-gradient(
        rgba(255,255,255,0.6) 30%,
        rgba(255,255,255,0.5) 40%,
        rgba(255,255,255,0.4) 50%,
        rgba(255,255,255,0.3) 60%,
        rgba(255,255,255,0.2) 70%,
        rgba(255,255,255,0.1) 80%,
        rgba(255,255,255,0) 90%);
        border-radius: 0px;
      }

      /* SIDEBAR NAVEGACIÓN */
.navMenu {
  width: 350px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: -351px;
  background-color: var(--color-primario);
  transition: 0.5s;
  z-index: 2;
  padding: 10px 0px;
}

@media (max-width: 320px) {
  .title-word-nav {
    font-size: 0.9rem;
  }
  .navMenu {
    width: 270px;
    left: -270vh;
  }
  .openbtn.active {
    transform: translateX(240px) !important;
  }
}


.navMenu.active {
  left: 0;
  box-shadow: 1px 1px 5px var(--color-primario-claro);
/* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75), 0px 17px 24px rgba(0, 0, 0, 0.3); */
}

/* .navMenu:hover {
  box-shadow: 1px 1px 5px var(--color-primario-claro);
} */

.navMenuHeader {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: flex-start;
  padding: 3px 12px;
  vertical-align: middle;
  background-color: var(--color-primario-oscuro);
}

.navMenuFooter {  
  background-color: var(--color-primario-oscuro);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  box-shadow: 0px -1px 5px var(--color-primario-claro);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
}

.logoFooter{
  opacity: 0.25;
}

.navLink {
  align-items:left;
  padding: 8px;
  text-decoration: none;
  border-radius: 8px;
  color: var(--color-texto);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 10px;
}

.navLink:hover {
  color: var(--color-texto);
  background-color: var(--color-primario-claro);
}

.navLink::before {
  /* content: "· " */
}

.navLink:active {
  transform:scale(110%);
}


.submenu-arrow {
  cursor: pointer;
  align-items: center;
  padding: 8px;
  text-decoration: none;
  border-radius: 8px;
  color: var(--color-texto);
  /* font-size: 18px; */
  /* border-bottom: solid 1px var(--color-secundario-oscuro); */
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}

.submenu-arrow:hover {
  color: var(--color-texto);
  background-color: var(--color-primario-claro);
}

.submenu-arrow.open {
  color: var(--color-texto);
  background-color: var(--color-primario-claro  );
}

.nested-submenu {
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

.nested-submenu li {
  margin: 0;
  padding: 0;
}

.navLinkMain {
  align-items:left;
  padding: 8px;
  text-decoration: none;
  border-radius: 8px;
  color: var(--color-texto);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.navLinkMain:hover {
  color: var(--color-texto);
  background-color: var(--color-primario-claro);
}

.iconNavMenu {
  color: #f6f8f7;
  height: 18px;
  width: 18px;
}

.openbtn {
  cursor: pointer;
  border: 1px solid rgba(138, 147, 153, 0.75);
  border-radius: 8px;
  background-color: var(--color-secundario-oscuro);
  height: 35px;
  width: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  z-index: 2;
}

.openbtn:hover {
  border: 1px solid rgba(255,255,255, 1);
  background-color: var(--color-secundario);
}

.openbtn.active {
  transition: 0.5s;
  transform: translateX(320px);
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(65,73,90,0.8);
  z-index: 2;
  display: none;

}

.sidebar-open .sidebar-overlay {
  display: block;
}

body.sidebar-open {
  overflow: hidden;
}

.hideHeader {
  position: fixed;
  /* right: -100vw; */
  transform: translateX(100vw);
  transition: 0.5s;
}

.showHeader {
  /* position: fixed; */
  /* transform: translateX(0); */
  transition: 0.5s;
}

.navUl {
  padding: 0;
  list-style: none;
}


.sidebar {
  margin: 0;
  padding: 0;
}

/* Custom CSS to change Accordion styles */
.custom-accordion .accordion-body {
  padding: 0px;
}

.custom-accordion .accordion-button {
  background-color: var(--color-primario-claro);
  color: #ffffff;
}

.custom-accordion .accordion-item {
  background-color: whitesmoke;
  border: 1px solid var(--color-terciario-claro);
}


.accordionContributors {
  display: flex;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  border-bottom: 1px dotted var(--color-terciario-claro);
  padding: 7px 0px;
}

.accordionContributors:last-child {
  border-bottom: none;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  /* padding: 0 10px; */
}

.titleChartType {
  width: 100%;
  font-weight: bold;
  color: white;
  text-align: center;
  border: 1px solid var(--color-primario-claro);
  border-left: none;
  border-right: none;
  border-radius: 10px;
  margin: 0 auto;
  padding: 6px;
  /* background-color: var(--color-secundario); */
  background-image: linear-gradient(to right,
  transparent 0%,
  var(--color-secundario-claro) 20%,
  var(--color-secundario) 50%,
  var(--color-secundario-claro) 80%,
  transparent 100%);
  margin-bottom: 10px;
}

.titleWithArrow {
  width: 75%;
  font-weight: bold;
  color: white;
  text-align: center;
  border: 2px solid var(--color-terciario-claro);
  border-radius: 10px;
  margin: 0 auto;
  padding: 6px;
  background-color: var(--color-primario);
}


.title-icon-container {
  /* margin-left: auto; */
  display: flex;
  align-items: center;
}

.icon-circle {
  width: 25px;
  height: 25px;
  background-color: var(--color-terciario-claro);
  color: var(--color-primario-oscuro);
  border-radius: 50px;
}

.mensajeNoVotado {
display: flex;
justify-content: center;
  text-align: center;
  vertical-align: middle;
  width: fit-content;
  margin: auto;
  padding: 0px 15px;
  background-color: var(--color-secundario-oscuro);
  color: var(--color-texto);
  border-radius: 25px;
}

/* SIDEBAR ANULAR VOTOS */
.navMenuInfo {
  width: 40px;
  height: 55px;
  position: fixed;
  top: 4.2rem;
  right: -1.4rem;
  transition: 1s;
  z-index: 1;
  padding: 10px 15px 10px 10px;
  border: solid 2px var(--color-secundario-claro);
  border-right: none;
  box-shadow: 0px 4px 12px 0px var(--color-primario-claro);
  border-radius: 5px;
  background-color: var(--color-terciario-claro);
  box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
}

.navMenuInfo.active {
  right: -1%;
  width: 280px;
  min-height: 50px;
  height: fit-content;
  /* background-color: white; */
  background-image: url('./pictures/FondoPlaca2.jpg');
  box-shadow: none;
  
}

.openbtnInfo {  
  cursor: pointer;
  color: var(--color-primario);
  display: inline-block;
  transform: translateX(-90%) translateY(0%);
  border-radius: 50px;
}

.openbtnInfo:hover {
  color: var(--color-primario-claro);
}

.openbtnInfo.active {
  color: var(--color-secundario-claro);
}

.sidebarInfo {
  margin: 0;
  padding: 0;
  font-family: var(--fuente-contenido);
  font-size: 0.9rem;
}

.sidebarInfo.active {
  margin-top: -20px;
  padding: 0px 5px;
  overflow-y: scroll;
  max-height: 75vh;
  display: flex;
  justify-content: center;
  margin-bottom: -10px;
}

.iconInfo {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50px;
}

.centered-table {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.centered-table th {
  background-image: url('./pictures/HeaderVotaciones.jpg') !important;
  color: white !important;
}

.centered-table td {
  vertical-align: middle;
}

.centered-table tr:first-child {
  /* border-top: 1px solid white !important; */
  border-top: none !important;
}

.centered-table th:first-child {
  border-radius: 8px 0px 0px 0px !important;  
  border: none;
}
.centered-table th:nth-child(3) {
  border-radius: 0px 8px 0px 0px !important;
  border: none;
}

.centered-table tr:nth-child(odd) {
  /* border-top: 2px solid var(--color-terciario-oscuro); */
}

.botonAnular {
  padding: 0px 3px !important;
}

.botonAnular.valido {
  background-color: green;
  color: white;
  border: 1px solid grey;
  font-size: 0.85rem;
}

.botonAnular.no-valido {
  background-color: whitesmoke;
  color: red;
  border: 1px solid red;
  font-size: 0.85rem;
}

.anulado {
  text-decoration:line-through !important;
  padding: 12px !important;
  display: flex;
  flex-direction: column;
  
}